$color_1: black;
$color_2: blue;
$background-color_1: white;
$background-color_2: grey;
$background-color_3: lightblue;
$color_principal: grey; 
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap";
/* VESTIMENTA - PRODUCTOS */
/* TABLA */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.header {
	background-color: $background-color_1;
	color: $color_1;
}
header {
	ul {
		li {
			display: inline-block;
			margin: 20px;
		}
	}
}
a {
	color: $color_1;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.textos {
	text-align: left;
	font-size: 20px;
}
.logo {
	width: 70px;
}
body {
	background-color: $background-color_2;
}
.index__titulo {
	font-size: 2rem;
	text-align: center;
}
nav {
	ul {
		li {
			a {
				color: $color_1;
				font-size: 20px;
				&:hover {
					color: $color_2;
				}
			}
		}
	}
}
.index__info {
	font-size: 1rem;
	text-align: center;
}
.index__subtitulo {
	font-size: 1.5rem;
	text-align: center;
}
.productos__titulo {
	font-size: 1rem;
	text-align: center;
}
.productos__img {
	width: 300px;
}
.vestimenta__img {
	display: flex;
	justify-content: space-around;
	padding-bottom: 20px;
	padding-top: 20px;
}
table {
	tr {
		th {
			border: 1px solid black;
		}
		border: 1px solid black;
		td {
			border: 1px solid black;
		}
	}
}
.tabla {
	border: 2px solid black;
	border-collapse: collapse;
	width: 90%;
	text-align: center;
}
.tabla__contenedor {
	display: flex;
	justify-content: space-around;
}
.preguntas__img {
	text-align: center;
}
.contacto__contenedor {
	display: flex;
	justify-content: space-evenly;
}
.contacto__tabla {
	background-color: $background-color_3;
}
footer {
	border: 1px solid black;
	text-align: center;
	ul {
		li {
			list-style-type: none;
		}
	}
}
nav {
    background-color: grey;

    li {
        list-style-type: none;
        display: inline-block;

        a { 
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

}
$color_principal: grey